.color_box{
    -fx-background-color : #2C3E50;
}
.shadow{
    -fx-effect: dropShadow(three-pass-box, rgba(0,0,0,0.1), 10.0, 0.0, 0.0, 10.0);
}
.cube_box{
    -fx-background-radius: 30;
}
.cube_select_main{
    -fx-background-radius: 10;
}
.cube_select_main:hover{
    -fx-border-color: #5D9379;
    -fx-background-color: #5D9379;
    -fx-text-fill: linear-gradient(to right,white,white);
    -fx-background-radius: 10px;
    -fx-color-label-visible: #5D9379;
    -fx-border-radius: 10px;
}
.cube_select_vocal{
    -fx-background-radius: 10;
}
.cube_select_vocal:hover{
    -fx-border-color: #D5D8DC;
    -fx-background-color: #D5D8DC;
    -fx-text-fill: linear-gradient(to right,white,white);
    -fx-background-radius: 10px;
    -fx-color-label-visible: #D5D8DC;
    -fx-border-radius: 10px;
}
.color_theme_0{
    -fx-background-color: #34495E;
}
.color_theme_1{
    -fx-background-color: #76BA9A;
}
.color_theme_2{
    -fx-background-color: #5D9379;
}
.transparent{
    -fx-background-color: rgba(0,0,0,0);
}
.upload_button{
    -fx-background-color: #33CC66;
    -fx-background-radius: 50;
    -fx-border-radius: 50;
}
.upload_button:hover{
    -fx-background-color: #33FF66;
    -fx-background-radius: 50;
    -fx-border-radius: 50;
}
.login_button{
    -fx-background-color: #70B17F;
    -fx-background-radius: 50;
    -fx-border-radius: 50;
}
.login_button:hover{
    -fx-background-color: #3cb371;
    -fx-background-radius: 50;
    -fx-border-radius: 50;
}
.logout_button{
    -fx-background-color: #FFA884;
    -fx-background-radius: 50;
}
.setting_button{
    -fx-background-color: #1ed048;
    -fx-background-radius: 50;
}
.register_button{
    -fx-background-color: #40e0d0	;
    -fx-background-radius: 50;
    -fx-border-radius: 50;
}
.register_button:hover{
    -fx-background-color: #00fa9a;
    -fx-background-radius: 50;
    -fx-border-radius: 50;

}
.credit_button{
    -fx-background-color: #eee8aa	;
    -fx-background-radius: 50;
    -fx-border-radius: 50;
}
.about_button{
    -fx-background-color: #ffdab9	;
    -fx-background-radius: 50;
    -fx-border-radius: 50;
}

.search_box{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 100;
}

.search_button{
    -fx-background-color: #828282;
    -fx-background-radius: 30;
}

.button-change_password {
    -fx-border-color: #D35400;
    -fx-background-color: transparent;
    -fx-text-fill: #D35400;
    -fx-background-radius: 25px;
    -fx-color-label-visible: white;
    -fx-border-radius: 25px;
}

.text-System_User_List {
    -fx-font-family: "Prompt-Regular";
    -fx-font-size: 30;
}
.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: linear-gradient(#328BDB 0%, #207BCF 25%, #1973C9 75%, #0A65BF 100%);
    -fx-text-fill: black;
}
.list-cell:odd {
    -fx-background-color: white;
}
.list-cell:filled:hover {
    -fx-background-color: #0093ff;
    -fx-text-fill: black;
}
.button-mode {
    -fx-border-color: black;
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-background-radius: 25px;
    -fx-color-label-visible: white;
    -fx-border-radius: 25px;
}

.button-mode:hover {
    -fx-border-color: black;
    -fx-background-color: black;
    -fx-text-fill: linear-gradient(to right,white,white);
    -fx-background-radius: 25px;
    -fx-color-label-visible: white;
    -fx-border-radius: 25px;
}


